<h1>Editing Amandment</h1>

<%= render 'form' %>

<%= link_to('<button type="button" class="btn btn-info">Show</button>'.html_safe, @amandment) %> |
<%= link_to('<button type="button" class="btn btn-success">Back</button>'.html_safe, amandments_path) %>
