<p id="notice"><%= notice %></p>

<%= link_to('<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_amandment_path(@amandment)) %>
<%= link_to('<button type="button" class="btn btn-success">Back</button>'.html_safe, amandments_path) %>
