<div class="modal fade" id="main-head-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><strong><h4>Glavni deo - naziv glave</h4></strong></div>
        <div class="col-md-4"></div>
      </div>
      <%= form_for @act.heads.build, url: create_head_intro_path, remote: true do |fgi| %>
      <%= fgi.hidden_field :category, value: Head::TYPES[1] %>
      <div class="form-group">
        <div clas="row">
          <label class="col-md-4 control-label" ></label>
           <div class="col-md-4">
            <%= fgi.text_field :name, class: "form-control input-md", required: true %>
          </div>
        </div>
      </div>
      <!-- dugmad -->
      <br>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <span>
            <%= fgi.submit "Add Glava", class:"btn btn-danger" %>
          </span>
          <span>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </span>
        </div>
        <% end %>
        <br>
      </div>
      <br>
    </div>
  </div>
</div>