<h1>Editing Act</h1>

<%= render 'edit_form' %>

<%= link_to('<button type="button" class="btn btn-info">Show</button>'.html_safe, @act) %>
<%= link_to('<button type="button" class="btn btn-success">Back</button>'.html_safe, acts_path) %>
